<ul>
    <li><a href="/main">главная</a></li>
    <li><a href="/profile">профиль</a></li>
    <li><a href="/login">авторизация</a></li>
    <li><a href="/register">регистрация</a></li>
    <li><a href="/logout">выйти</a></li>
    <li><a href="/users">список пользователей</a></li>
</ul>