$color-header: #474787;
$color-content: #aaa69d;
$color-footer: #474787;

$font-size: 16px;
$font-family: Arial, Helvetica, sans-serif;

$color-nav-item: #fff;
$background-color-nav-item_hover-active: #400;

$max-width-mobile: 425px;
$min-width-tablet: 768px;
$max-width-tablet: 999px;
$min-width-laptop: 1000px;

$width-content-laptop: 1000px;