<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пользователи</title>
</head>
<body>
    <h1>Список пользователей</h1>
        <ul>
        {{#each users}}
        <li><a href="/users/{{this}}">{{this}}</a></li>
        {{/each}}
    </ul>
</body>
</html>