body {
    margin: 0;
    padding: 0;
    font-size: $font-size;
    font-family: $font-family;
}

.App {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: "header" "content" "footer";
    grid-template-rows: 100px 1fr 100px;
}

.content {
    display: flex;
    background-color: $color-content;
    width: $width-content-laptop;
    grid-area: content;
    justify-self: center;
}